@import '@/sass/_custom'

.all-center
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	// background: #E7E7E7
	@media (max-width: 557px)
		// background: #FFF
.all-center-md
	height: 50vh
	display: flex
	justify-content: center
	align-items: center
	// background: #FFF
	p 
		margin-bottom: 0
		padding-left: 15px

.all-center-child
	height: 100%
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	background: #E7E7E7
	@media (max-width: 557px)
		background: #FFF