@import '@/sass/_custom.scss'
.modal 
	padding-left: 0 !important

.modal-dialog.modal-lg, .modal-dialog.modal-xl 
	@media screen and (max-width: 576px)
		max-width: 96% !important 
	@media screen and (min-width: 576px)
		max-width: 90% !important 

	.modal-content
		@if ($theme == 'dark')
			border: 1px solid rgba(255, 255, 255, 0.3)
