@import '@/sass/_custom.scss'
* 
	scrollbar-width: auto
	scrollbar-color: $blue #ffffff


*::-webkit-scrollbar 
	width: 12px
	height: 12px

*::-webkit-scrollbar-track 
	background: rgba(0,0,0,0)

*::-webkit-scrollbar-thumb 
	background-color: lighten($blue, 20)
	border-radius: 10px
	border: 2px solid #ffffff
