@import '@/sass/_custom.scss'
.text-with-icon
	color: lighten($blue, 10)
	text-align: center
	font-size: 1.2em
	margin-bottom: 1em
	[class^='icon-']
		font-size: 4em
		display: block
		&:before
			margin-right: 0

.title
	color: rgba(0, 0, 0, .6)
	font-size: 1.3em 
	margin: 1em 0
	display: block
	font-weight: bold
	text-align: center !important
	// @media screen and (max-width: 768px)
	// 	text-align: center !important
	// @media screen and (min-width: 768px)
	// 	text-align: left !important

.sub-title
	font-size: 1.2em 
	margin: 1em 0
	display: block